@import '../../styles/reusables.scss';
@import '../../styles/global.scss';

.card {

  &.bordered {
    padding: $brutalism-padding-size;
    background-color: var(--base06);

    border: $brutalism-border-size solid var(--base01);
    @include brutalism-box-shadow(2px, var(--base01));
  }
}